<!DOCTYPE html>
<html>
<head>
  <title>Dice</title>
  <link rel="stylesheet" href="/static/main.css">
</head>
<body>
  <h1>Dice</h1>
  <div id="container"></div>
</body>
  <script>
    function renderResult(result, parent) {
      const img = new Image();
      img.src = result['src'];

      const number = document.createElement('div');
      number.classList.add('result');
      number.textContent = result['result'];

      const rollEl = document.createElement('div');
      rollEl.classList.add('diceroll');

      [img, number].forEach(el => rollEl.appendChild(el));

      img.addEventListener('load', event => {
        parent.insertBefore(rollEl, parent.firstChild);
      });
    }




    const container = document.getElementById('container');

    const results = {{ results|tojson|safe }};
    results.forEach(result => renderResult(result, container));


    const socket = new WebSocket(`ws://${location.host}/connect`);
    socket.addEventListener('open', event => {
      socket.send('connected');
    });
    socket.addEventListener('message', event => {
      const results = JSON.parse(event.data);
      renderResult(results[0], container);
    });

    window.addEventListener('beforeunload', event => {
      socket.close();
    });
  </script>
</html>
