<!DOCTYPE html>
<html>
<head>
  <title>Dice</title>
  <link rel="stylesheet" href="/static/main.css">
</head>
<body>
  <h1>Dice</h1>
</body>
  <script>
    function render(results) {
      results.forEach(result => {
        const imgEl = document.createElement('img');
        imgEl.src = result['src'];

        const resultEl = document.createElement('div');
        resultEl.classList.add('result');
        resultEl.textContent = result['result'];

        const rollEl = document.createElement('div');
        rollEl.classList.add('diceroll');

        [imgEl, resultEl].forEach(el => rollEl.appendChild(el));

        document.body.appendChild(rollEl);
      });
    }

    function clear() {
      const dicerolls = document.getElementsByClassName('diceroll');
      Array.from(dicerolls).forEach(dr => dr.remove())
    }

    const results = {{ results|tojson|safe }};
    render(results);


    const socket = new WebSocket(`ws://${location.host}/connect`);
    socket.addEventListener('open', event => {
      socket.send('connected');
    });
    socket.addEventListener('message', event => {
      clear();
      render(JSON.parse(event.data));
    });

    window.addEventListener('beforeunload', event => {
      socket.close();
    });
  </script>
</html>
