<!DOCTYPE html>
<html>
<head>
  <title>Dice</title>
  <link rel="stylesheet" href="/static/main.css">
</head>
<body>
  <h1>Dice</h1>
  {% for result in results %}
    <div class="diceroll">
      <img src="/image/{{ result[0] }}">
      <h3>{{ result[1] }}</h3>
    </div>
  {% endfor %}

</body>
  <script>
    const socket = new WebSocket(`ws://${location.host}/connect`);
    socket.addEventListener('open', event => {
      socket.send('connected');
    });
    socket.addEventListener('message', event => {
      console.log('received msg');
      console.log(event.data);
    });

    window.addEventListener('beforeunload', event => {
      console.log('before unload');
      socket.close();
      event.preventDefault();
    });
  </script>
</html>
